*.db
idsserver
data
.idea
data_tree
data_tree_old
data_tree_with_wavs
.tags
.tags1
new_data
regular_path_manifest.csv
train_data_tree
training_path_manifest.csv
debug
migrate
sample_config_admin.json
sample_config.json
scripts/bergelson_pass1
group_manifests
*.csv
scripts/scrap_data
scripts/manifests
scripts/out
scripts/scrubbed
data_tree_new
